<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Mensajes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
     rel="stylesheet" 
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylosleer.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/iconoleer.png')}}" type="image/x-icon">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        <div class="titulo">
            <h1 class="nav_titulo">Leer Mensajes</h1>
        </div>
        <form action="{{ url_for('send.sendEmailUser') }}" id="leermensaje" name="leermensaje" method="get"> 
            <div class="leermensajes">
                <div>
                    <label class="nav_mensajes" for="">Mensajes</label>                
                    <a class="nav_nuevo" type="submit" onclick="nuevo()" href="#">Nuevo</a>
                    <a class="nav_actualizar" onclick="document.location.reload()" href="#">Actualizar</a><br>                 
                </div>
                    <div class="ipt">
                        {% for n in data%}
                        <div class="nav_de">
                            <label class="labelm">De:</label>
                            <h7>{{n[2]}}</h7>
                            <label class="labelm">Asunto:</label>
                            <h7>{{n[3]}}</h7><br>
                            <label class="labelm">Para:</label>
                            <h7>{{n[1]}}</h7><br>
                        
                            <div class="nav_message"> 
                                <label class="nav_m">Mensaje:</label>   
                                <h7>{{n[4]}}</h7>
                            </div>
                        </div>
                        {% endfor %}                        
                    </div><br>
                    <a class="nav_cerrarsesion" onclick="cerrarsesion()" href="#">Cerrar Sesion</a><br>
                    <p class="nav_piepagina">Mensajeria Electronica</p> 
                </div>
                
            </div>                          
        </form>
    </div> 
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>          
</body>
</html>