<!DOCTYPE html>
<html lang="es">
<html class="bg-slate-900">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajeria Electronica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
     rel="stylesheet" 
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/iconopagina.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylos.css')}}"">
</head>
<body>
    <div class="container">
        <div class="titulo">
            <h1 class="nav_titulo">MENSAJERIA ELECTRONICA</h1>
        </div>
        <form action="{{ url_for('login.loginPost') }}" id="login" name="login" method="POST">
            <div class="inicioSesion">
                <label class="nav_usuario" for="correo" >Correo</label>
                <img class="img_usuario" src="/static/images/iconousiario.png" alt=""><br>
                <input class="nav_iptusuario" type="email" id="email" name="email" placeholder="Correo electronico" ><br><br>                
                <label class="nav_contraseña" for="contrasenia">Contraseña</label>
                <img class="img_contraseña" src="/static/images/iconocontraseña.png" alt=""><br>
                <input class="nav_iptcontraseña" type="password" id="contrasenia" name="contrasenia" placeholder="Password"><br>
                <input class="btn_datos" type="checkbox" id="recordar">
                <label class="nav_check" for="recordar">Recordar datos</label><br>
                <input class="btn_inicio" type="submit" value="Inicio Sesion"><br><br>
                <input class="btn_registro" onclick="registro()" type="button" id="btnregistro" value="Registrarse">
                <input class="btn_contraseña" onclick="contraseña()" type="button" value="Recuperar contraseña" >                               
            </div>            
        </form>
    </div> 
<script src="{{ url_for('static', filename='js/index.js')}}"></script>        
</body>
</html>